SERVER_PORT=8080

DB_URL=jdbc:postgresql://localhost:5432/folkify
DB_USERNAME=postgres
DB_PASSWORD=postgres

# Phải >= 32 ký tự, đổi trong production
JWT_SECRET=folkify-super-secret-key-change-this-in-production

# milliseconds
JWT_ACCESS_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=604800000
